.footer{
    padding: 3rem 5rem;
    background-color: pink;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top i{
    color: rgb(255, 253, 254);
    font-size: 2rem;
    margin-left: 1.5rem;
}

.top i:hover{
    color: rgb(201, 106, 122);;
}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h4{
    font-size: 1.3rem;
    padding: 0.8rem 0 0.5rem 0;
}

@media screen and (max-width: 769px){
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}